<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Приглашение на свадьбу Шумеевых</title>
</head>
<!-- span  - для изменения текста-->

<body>


    <div class="mainBlock">
        <div>
            <h7><span class="title"> Фёдор & Алёна</span></h7>
        </div>
        <div class=text>
            <p>Дорогие друзья и родные!</p>
            <p>С радостью приглашаем вас разделить с нами этот невероятный момент - наш долгожданный день
                свадьбы! Мы искренне надеемся, что вы сможете разделить с нами радость этого особенного
                события. Здесь вы найдете всю необходимую информацию, чтобы быть с нами в этот неповторимый
                день. С нетерпением ждем встречи с вами на нашей свадьбе!</p>
        </div>


        <div>
            <h3> Время и место</h3>
            <!-- 2 фотографии по середине дата и время, адресс -->

            <h3> Программа мероприятия</h3>
            <!--  Рассписать план дня
            иконка, время название мер-я, адресс -->

            <h3>Пожелания от молодоженов</h3>
            <span>Нафиг ваши подарки, дарите деньги! Мы на ипотеку копим.</span>

            <h3>Пожелания от молодоженов</h3>
            <span> Спасибо что ознакомились с правилами. Увидимся на свадьбе)</span>


            <h3>Обратная связь</h3>
            <!-- ссылки на почту и тг -->

        </div>
    </div>
    <footer>
        <p>Обратный отчсчет</p>
    </footer>
</body>

</html>