<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Приглашение на свадьбу Шумеевых</title>
</head>
<!-- span  - для изменения текста-->

<body>
    <header>
        ШАПКА
    </header>

    <div>
        <h2><span class="title">Свадьба</span></h2>
           <h1><span> Фёдора & Алёны</span></h1>
        <img src="/static/img/1.jpg">
        <h6> текст обращение к читателям
            <p>Дорогие друзья!
                Чай дохлебываете и сматывайтесь</p>
        </h6>
    </div>

    <div>
        <h3> Время и место</h3>
        <!-- 2 фотографии по середине дата и время, адресс -->

        <h3> Программа мероприятия</h3>
        <!--  Рассписать план дня
            иконка, время название мер-я, адресс -->

        <h3>Пожелания от молодоженов</h3>
        <span>Нафиг ваши подарки, дарите деньги! Мы на ипотеку копим.</span>

        <h3>Пожелания от молодоженов</h3>
        <span> Спасибо что ознакомились с правилами. Увидимся на свадьбе)</span>


        <h3>Обратная связь</h3>
        <!-- ссылки на почту и тг -->

    </div>

    <footer>
        <p>Обратный отчсчет</p>
    </footer>
</body>

</html>