<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приглашение на свадьбу Шумеевых</title>
</head>
<!-- span  - для изменения текста-->

<body>
    <header>
        ШАПКА
    </header>

    <div>
        <h1><span> Фёдор & Алёна</span></h1>
        <img src="/static/img/1.jpg">
        <h6> текст обращение к читателям

            Дорогие друзья!
            Жить, любить, чувствовать. Однажды мы поняли, что нет ничего важнее этого. И что идти дальше мы хотим только
            вместе. А теперь мечтаем, чтобы день нашей свадьбы стал красивым и ярким событием на этом увлекательном
            пути.
            Мы будем очень рады, если вы разделите этот счастливый день с нами.
            Увидимся на нашей свадьбе!

        </h6>
    </div>

    <div>
        <h3> Время и место</h3>
        <!-- 2 фотографии по середине дата и время, адресс -->

        <h3> Программа мероприятия</h3>
        <!--  Рассписать план дня
            иконка, время название мер-я, адресс -->

        <h3>Пожелания от молодоженов</h3>
        <span>Нафиг ваши подарки, дарите деньги! Мы на ипотеку копим.</span>

        <h3>Пожелания от молодоженов</h3>
        <span> Спасибо что ознакомились с правилами. Увидимся на свадьбе)</span>


        <h3>Обратная связь</h3>
        <!-- ссылки на почту и тг -->

    </div>

    <footer>
        <p>Обратный отчсчет</p>
    </footer>
</body>

</html>